doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='/media/toggle.png', alt='Logo')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/') Home
            li: a(href='/polls/') All Polls
            if user && user.username
              li: a(href='/mypolls/') My Polls
            li: a(href='/contact/') Contact              
          ul.nav.navbar-nav.navbar-right
            // NOTE: originally to check if signed it read " if user && user.username "
            if !user.username
              li: a(href='/signup/') Sign Up
              li: a(href='/login/')
                i.fa.fa-user
                |  Login
            else
              li.dropdown: a(href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") 
                i.fa.fa-user
                |  #{user.username} 
                span.caret
                ul.dropdown-menu
                  li: a(href='/account/settings/') Account
                  li: a(href='/logout/') Logout                


    div.page
      div.container
        block body

    div.footer
      div.container
        span.copyright.pull-right
          |&#169; #{copyrightYear} #{copyrightName}
        ul.links
          li: a(href='/') Home
          li: a(href='/contact/') Contact
        div.clearfix
      div.container.builtby
          p This app is built by 
            | <a href='https://www.freecodecamp.com/alamm'>@alamm</a> of freecodecamp, following the instructions of 
            | <a href='https://www.freecodecamp.com/challenges/build-a-voting-app'>"Build a Voting App | Free Code Camp"</a>
          p Github repository: 
            | <a href='https://github.com/ALamm/votingapp'>ALamm/votingapp</a>
      

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif', alt='Loading')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    block feet
